.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div {
    width: 400px;
  }
  .dev-login-wrapper {
    margin-top: 10px;
  }
}
