<div class="table-wrapper">
  <h2>Accuracy Statistics</h2><br>
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="correct">Correct</th>
        <th class="incorrect">Incorrect</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Total</th>
        <td class="correct">99</td>
        <td class="incorrect">123</td>
      </tr>
      <tr>
        <th>User</th>
        <td class="correct">13</td>
        <td class="incorrect">15</td>
      </tr>
    </tbody>
  </table>
</div>
